RewriteEngine on

RewriteRule ^(index|search|contact|registration|admin/categories|admin/profile|admin/posts|admin/comments|admin/users|includes/login)$ $1.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]

RewriteRule ^category/(\d+)$ category.php?category=$1 [NC,L]

RewriteRule ^search/(\d+)$ search.php?page=$1 [NC,L]